body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  background-color: rgb(0, 162, 255);
}

.to {
  &__do-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
}
.to {
  // .to__do-form

  &__do-form {
  }
}
.js-form {
}
.form {
  // .form__label

  &__label {
    color: bisque;
  }

  // .form__input

  &__input {
  }

  // .form__btn-add

  &__btn-add {
  }
}
.js-input {
}
.text {
}
.output {
}
.js-output {
}
.todo {
  // .todo__remove-all

  &__remove-all {
  }
}
